<section class="banner-two">
    <div class="banner-container">
        @for (item of items; track $index) {
        <div [ngClass]="{'featured': item.featured, 'article': !item.featured}" class="">
            <div class="entry-header">
                <span class="meta-category">
                    <a [href]="item?.link" mat-raised-button [ngStyle]="{'background-color': item?.collor}">
                        {{ item?.category}}
                    </a>
                </span>
                <span class="entry-title h6">
                    <a [href]="item?.link">
                        {{ item?.title }}
                        <!-- {{ item?.title | ellipsis:50 }} -->
                    </a>
                </span>
                <!-- <div class="entry-meta">
                    <div class="meta-item entry-comments">
                        <mat-icon>comment</mat-icon>
                        <a href="https://demo.mekshq.com/herald/?p=140#respond">
                            Add Comment
                        </a>
                    </div>
                </div> -->
                <div class="entry-content">
                    <div [innerHtml]="item?.description"></div>
                </div>
                <a href="#" class="fa-post-bg"></a>
            </div>
            <a class="post-thumbnail" [href]="item?.link" title="item?.title">
                <img width="379" height="259" [src]="item?.image" style="object-fit: cover;" alt="">
            </a>

        </div>
        }
    </div>
</section>